{% extends "layout.html" %}

{% block title %}
Lista de Servicios
{% endblock %}

{% block content %}
<div class="mb-3" style="margin-top: 20px;">
    <a href="{{ url_for('servicios.service_create') }}" class="btn btn-primary">Crear Servicio</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Palabras Clave</th>
            <th scope="col">Tipo</th>
            <th scope="col">Habilitado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in pagination.items %}
        <tr>
            <td>{{ servicio.name }}</td>
            <td>{{ servicio.description }}</td>
            <td>{{ servicio.keywords }}</td>
            <td>{{ servicio.service_type.name }}</td>
            <td>{{ "Sí" if servicio.enabled else "No" }}</td>
            <td>
                <a href="{{ url_for('servicios.service_update', service_id=servicio.id) }}">Editar</a>
            </td>
            <td>
                <a href="{{ url_for('servicios.service_delete', service_id=servicio.id) }}" onclick="return confirm('¿Seguro que quieres eliminar este servicio? {{ servicio.name }}');" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Agregar enlaces de navegación "Anterior" y "Siguiente" -->
<div class="pagination">
    {% if pagination.has_prev %}
        <a href="{{ url_for('servicios.service_index', page=pagination.prev_num) }}">Anterior</a>
    {% endif %}

    {% if pagination.has_next %}
        <a href="{{ url_for('servicios.service_index', page=pagination.next_num) }}">Siguiente</a>
    {% endif %}
</div>
{% endblock %}