{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Inicio</h1>
<p>Grupo 32</p>
{% if is_authenticated(session) %}
    <a href="{{ url_for('users.index') }}" class="link">Usuarios</a>
    <a href="{{ url_for('institutions.institution_index')}}" class="link">Instituciones</a>
    <a href="{{ url_for('servicios.service_index')}}" class="link">Servicios</a>
    <a href="{{ url_for('auth.logout') }}" class="link">Cerrar sesión</a>
{% else %}
    <a href="{{ url_for('auth.login') }}" class="link">Iniciar sesión</a>
    <a href="{{ url_for('auth.register') }}" class="link">Registrarse</a>
{% endif %}
{% endblock %}