{% extends "layout.html" %}
{% block title %}Instituciones{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Instituciones</h1>

<div class="mb-3" style="margin-top: 20px;">
    <a href="{{ url_for('institutions.institution_create') }}" class="btn btn-primary">Crear Institucion</a>
</div>

<table class="table">
    <thead> 
        <tr>
            <th>Nombre</th>
            <th>Información</th>
            <th>Dirección</th>
            <th>Localización</th>
            <th>Sitio Web</th>
            <th>Palabras Clave</th>
            <th>Días y Horarios de Atención</th>
            <th>Contacto</th>
            <th>Habilitado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for institucion in instituciones%}
        <!-- Aquí puedes agregar filas con datos de instituciones -->
        <tr>
            <td>{{ institucion.name}}</td>
            <td>{{ institucion.information}}</td>
            <td>{{ institucion.address}}</td>
            <td>{{ institucion.location}}</td>
            <td>{{ institucion.web}}</a></td>
            <td>{{ institucion.keywords}}</td>
            <td>{{ institucion.opening_hours}}</td>
            <td>{{ institucion.contact}}</td>
            <td>{{ institucion.has_authorization}}</td>
            <td>{{ institucion.id}}</td>
            <td>
                <a href="{{ url_for('institutions.institution_update', institution_id=institucion.id) }}">Editar</a>
            </td>
            <td>
                <a href="{{ url_for('institutions.institution_delete', institution_id=institucion.id) }}" onclick="return confirm('¿Seguro que quieres eliminar esta institución? {{ institucion.name }}');" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
   
</table>
<div class="pagination">
    {% if pagination.has_prev %}
        <a href="{{ url_for('institutions.institution_index', page=pagination.prev_num) }}">Anterior</a>
    {% endif %}

    {% if pagination.has_next %}
        <a href="{{ url_for('institutions.institution_index', page=pagination.next_num) }}">Siguiente</a>
    {% endif %}
</div>
{% endblock %}