{% extends "layout.html" %}
{% block title %}Instituciones{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Instituciones</h1>
<table>
    <thead> 
        <tr>
            <th>Nombre</th>
            <th>Información</th>
            <th>Dirección</th>
            <th>Localización</th>
            <th>Sitio Web</th>
            <th>Palabras Clave</th>
            <th>Días y Horarios de Atención</th>
            <th>Contacto</th>
            <th>Habilitado</th>
        </tr>
    </thead>
    <tbody>
        {% for institucion in instituciones%}
        <!-- Aquí puedes agregar filas con datos de instituciones -->
        <tr>
            <td>{{ institucion.name}}</td>
            <td>{{ institucion.information}}</td>
            <td>{{ institucion.address}}</td>
            <td>{{ institucion.location}}</td>
            <td>{{ institucion.web}}</a></td>
            <td>{{ institucion.keywords}}</td>
            <td>{{ institucion.opening_hours}}</td>
            <td>{{ institucion.contact}}</td>
            <td>{{ institucion.has_authorization}}</td>
        </tr>
        {% endfor %}
    </tbody>
   
</table>
{% endblock %}