{% extends "layout.html" %}

{% block title %}
Cambiar institución
{% endblock %}

{% block content %}
<h1>Cambiar de institución</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="institution" class="form-label">Institución</label>
        {{ form.institution(class="form-select") }}
    </div>
    <button type="submit" class="btn btn-primary">Cambiar</button>
</form>
<a href="{{ url_for('home') }}" class="btn btn-secondary">Cancelar</a>

<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}