export DB_USER="postgres"
export DB_PASS="abc123"
export DB_HOST="localhost"
export DB_NAME="grupo32"
export DB_PORT="5432"
export APP_EMAIL_ADDRESS=
export APP_EMAIL_PASSWORD=
export APP_BASE_URL=

dotenv personal.env