@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  max-width: 100vw;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(163, 3%, 55%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
